name: CI/CD to ECS via CodeDeploy

on:
  push:
    branches:
      - main
    paths:
      - "app/**"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: app/Dockerfile

      - name: Build Docker image
        run: docker build -t url-shortener:test -f app/Dockerfile app

      - name: Test container health
        run: |
          docker run -d -p 8080:8080 url-shortener:test
          sleep 10
          curl -f http://localhost:8080/healthz

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Push to ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: url-shortener-repo
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker tag url-shortener:test $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

      - name: Register new ECS task definition
        id: register-task-def
        run: |
          aws ecs describe-task-definition \
            --task-definition url-task-definition-tf \
            --query "taskDefinition" > taskdef.json
          sed -i "s|016873651140.dkr.ecr.us-east-1.amazonaws.com/url-shortener-repo:[^\"']*|016873651140.dkr.ecr.us-east-1.amazonaws.com/url-shortener-repo:${{ github.sha }}|g" taskdef.json
          jq 'del(.taskDefinitionArn, .revision, .status, .requiresAttributes, .compatibilities, .registeredAt, .registeredBy)' taskdef.json > cleaned.json
          NEW_TASK_DEF_ARN=$(aws ecs register-task-definition --cli-input-json file://cleaned.json --query "taskDefinition.taskDefinitionArn" --output text)
          echo "new_task_def_arn=$NEW_TASK_DEF_ARN" >> $GITHUB_ENV

      - name: Trigger CodeDeploy deployment
        run: |
          aws deploy create-deployment \
            --application-name url-codedeploy-app-tf \
            --deployment-group-name url-codedeploy-dg \
            --revision revisionType=AppSpecContent,appSpecContent="{\"version\":1,\"Resources\":[{\"TargetService\":{\"Type\":\"AWS::ECS::Service\",\"Properties\":{\"TaskDefinition\":\"${{ env.new_task_def_arn }}\",\"LoadBalancerInfo\":{\"ContainerName\":\"url-shortener-app-tf\",\"ContainerPort\":8080}}}}]}" \
            --region us-east-1
